*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    overflow: hidden;
    background: #000;
}
.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.container .block {
    position: relative;
    width: 5vw;
    height: 5vw;
    background: url('image/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    border: 1px solid black;
    box-sizing: border-box;
    transform-style: preserve-3d;
}
